<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
    <h1>Mail Sender</h1>
    <h2>fbv;k</h2>
    <form action="" method="POST">
        {% csrf_token %}
    subject <br>
    <input type="text" name= "subject"> <br>
    message <br>  
    <textarea name="message" id="" cols="30" rows="10"></textarea> <br>
    email <br> 
    <input type="email" name="email"> <br>
    <button type="submit">submit</button>
    </form>
</body>
</html>

{% comment %} <form action="" method="post">
 <input type="text" name="subject"> 
 <textarea name="message" id="" cols="30" rows="10"></textarea> 
 <input type="email "name="email">
 <button type="submit"></button> 
 <a href="http://youtube.com"></a>
</form> {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>hvblal</h2>
</body>
</html>